/* my colours*/
:root{
    /*--vfkr-orange:rgb(255, 116, 9);*/
    --vfkr-orange:rgb(255, 137, 51);
    --vfkr-green:rgb(0, 147, 116);
    --vfkr-darkgrey:rgb(137, 137, 137);
    --vfkr-lightgrey:rgb(37, 37, 37);
}

/* Header */
.brand-logo{
	margin-left: 13px;
}

/* maybe required for flex to work */
html,body {
    height:100%;
}

/* collapsible in device */
.collapsible-body {
	padding: 10;
	color: rgb(255, 255, 255);
	background: var(--vfkr-orange);
}
.collapsible-header{
	line-height: 2rem;
	min-height: 2rem;
	padding: 0;
	color: var(--vfkr-orange);
}
.material-icons{
	line-height: 2rem !important;
	margin-right: 5 !important;
}
.search-icon{
	line-height: 4.5rem !important;
}

/*buttons*/
.btn{
	padding-left: 5;
	padding-right: 5;
	height: 30;
	vertical-align: middle;
}
