Source: ros-kinetic-dockeros
Section: misc
Priority: extra
Maintainer: ct2034 <christian.henkel@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-dockeros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy
Description: Simply running ros nodes in docker containers on remote robots.
